<div class="container-fluid">
  
  <!-- HEADER -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">יום הולדת של יהודה 🥳</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">בית</a>
      </div>
    </div>
  </nav>

  <!-- BODY -->

  <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 align-self-center">
      <div id="publisher"></div>
      <div id="subscribers"></div> 
    </div>
    <div class="col-4 align-right">
      <p id="history"></p>
      <%= form_with(url: "/chat/send", method: "post") do %>
        <%= text_field_tag :message, nil, placeholder: 'Your message goes here' %>
        <%= submit_tag("Submit") %>
      <% end %>
    </div>
  </div>  
</div>


  
  <!-- FOOTER -->
  <footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy;2020 <a href="https://bengreenberg.dev">Ben Greenberg</a></small>
    </div>
  </footer>
</div>
