#audio {
  display: none;
}

.videos .container-fluid {
  padding-bottom: 100%;
  margin-bottom: -100%;
}

#history {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}

html {
  box-sizing: border-box;
  height: 100%;
}
 
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
 
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
 
header {
  text-align: center;
  padding: 0.5em;
}
 
main {
  flex: 1;
  display: flex;
  position: relative;
}
 
form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
 
input {
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1em;
}
 
button {
  font-size: inherit;
  padding: 0.5em;
}
 
.subscriber {
  width: 100%;
  height: 100%;
  display: flex;
}
 
.publisher {
  position: absolute;
  width: 25vmin;
  height: 25vmin;
  min-width: 8em;
  min-height: 8em;
  align-self: flex-end;
}